/*inserir reset*/

* {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Gochi Hand', cursive;
    font-size: 20px;
}

.input::placeholder {
    color: lightgray);
}

input {
    height: 35px;
    border-radius: 8px;
    border: none;
    outline: none;
}

main {
    max-width: 1058px;
    margin: 0px auto;
}

#top_area {
    height: 35px;
    background-color: mediumblue;
    color: white;
}

.background {
    height: 200px;
}

#bg_box1 {
    background: #00ffff url("/assets/bg.jpg") no-repeat center;
    background-size: contain;
}

#bg_box2 {
    background-color: #A3F7BF;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
    padding-bottom: 15px;
}

#bg_box3 {
    background-color: #FFDCDC;
    height: 900px;
}

#form {
    padding-top: 30px;
}

#offset {
    width: 150px;
    border: 2px solid lightslategray;
}

.btn {
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background-color: darkred;
    color: white;
}

.code_btn {
    background-color: lightcoral;
    border: 2px solid darkred;
}

#help_btn {
    width: 50px;
    margin-top: 20px;
}

#container_cipherArea {
    max-width: 1058px;
    width: 100%;
    height: 150px;
    position: absolute;
    top: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_cipherArea_item {
    border: 2px solid gray;
    font-size: 18px;
    text-align: center;
    height: 140px;
    width: 33%;
}

#encode_box {
    border-radius: 8px 0px 0px 8px;
    border-right: none;
}

#decode_box {
    border-radius: 0px 8px 8px 0px;
    border-left: none;
}

#exchange,
#erase {
    position: absolute;
}

#exchange {
    width: 50px;
    height: 50px;
    rotate: 45deg;
    transform: rotate(40deg);
}

#erase {
    top: 15px;
    left: 18%;
    width: 20px;
    height: 20px;
}

.nuvem_one,
.nuvem_two,
.nuvem_three {
    width: 100px;
    height: 80px;
    background: url("/assets/nuvens2.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: -100px;
    animation: nuvem 60s infinite;
}

.nuvem_two {
    animation: nuvem 60s infinite;
    animation-delay: 20s;
}

.nuvem_three {
    animation: nuvem 60s infinite;
    animation-delay: 40s;
}

footer {
    background-color: gray;
}


/*--------------------animation-------------------*/

@keyframes nuvem {
    from {
        top: 5px;
        left: 0px;
    }
    to {
        top: 5px;
        left: 100%;
    }
}